<section class="reset-password-section">
    <div class="reset-password-container">
        <div class="body-wrapper">
            <h2>Quiz Games</h2>

            <form class="form" *ngIf="!showNewPassword" [formGroup]="formResetPassword"
                  (ngSubmit)="submitResetPassword()">
                <div class="form-group">
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="test@example.com" formControlName="email"
                               (blur)="checkChange('email', formResetPassword)">
                        <mat-error *ngIf="errorHandling('email', 'required', formResetPassword)">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="errorHandling('email', 'email', formResetPassword)">
                            Not a valid email (ex. test@gmail.com)
                        </mat-error>
                    </mat-form-field>
                </div>

                <button class="flat-primary-btn" mat-flat-button color="primary" type="submit">
                    Send password reset
                </button>
            </form>

            <form class="form" *ngIf="showNewPassword" [formGroup]="formSetNewPassword"
                  (ngSubmit)="submitSetNewPassword()">
                <div class="form-group">
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="" formControlName="password"
                               (blur)="checkChange('password', formSetNewPassword)">
                        <mat-error *ngIf="errorHandling('password', 'required', formSetNewPassword)">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="errorHandling('password', 'minlength', formSetNewPassword)">
                            Password cannot be less than 6 characters
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Confirm password</mat-label>
                        <input matInput type="password" placeholder="" formControlName="confirmPassword"
                               (blur)="checkChange('confirmPassword', formSetNewPassword)">
                        <mat-error *ngIf="errorHandling('confirmPassword', 'notMatch', formSetNewPassword)">
                            Confirm password must match the entered password
                        </mat-error>
                        <mat-error *ngIf="errorHandling('confirmPassword', 'required', formSetNewPassword)">
                            Confirm password is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <button class="flat-primary-btn" mat-flat-button color="primary" type="submit">
                    Set new password
                </button>
            </form>
        </div>
    </div>
</section>
