<section class="login-section">
   <!-- <img class="background-image" src="assets/images/background/1.jpg" alt="background image"/>-->
    <div class="login-container">
        <div class="header-wrapper">
            <h2>Quiz Games</h2>
        </div>
        <div class="body-wrapper">
            <form class="form" [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="test@example.com" formControlName="email">
                        <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="" formControlName="password">
                        <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
                    </mat-form-field>
                </div>

                <button class="primary-btn" mat-flat-button color="primary" type="submit">
                    Log In
                </button>
            </form>

            <div class="controls">
                <a>Can't login?</a>
                <div></div>
                <a>Create new account</a>
            </div>
        </div>
    </div>
</section>
