@import "src/styles/main";

.login-section {
    height: 100%;

    @include flexRow;
    justify-content: center;
    align-items: flex-start;


    background-image: url("/assets/images/background/2.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .login-container {
        @include flexCol;

        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .header-wrapper {
            h2 {
                @include setFont(golos-bold, 700, 26px, 30px, $text-black);
            }
        }

        .body-wrapper {
            padding: 60px 40px;

            background-color: $white;
            box-shadow: rgb(0 0 0 / 10%) 0 0 10px;

            .form {
                @include flexCol;

                .form-group {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                button {
                    width: 100%;
                    height: 40px;
                }
            }

            .controls {
                margin-top: 40px;
                padding-top: 40px;
                border-top: 1px solid hsl(0, 0%, 80%);

                @include flexRow;
                justify-content: center;

                a {
                    @include setFont(golos-medium, 500, 16px, 20px, $primary);
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                div {
                    width: 3px;
                    height: 3px;
                    margin-left: 10px;
                    margin-right: 10px;

                    border-radius: 50%;
                    background-color: hsl(0, 0%, 80%);
                }
            }
        }
    }
}


.mat-form-field {
    width: 400px;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: $text-black;
    }

    .mat-form-field-label {
        color: rgba($text-black, 0.6);
    }

    .mat-form-field-appearance-outline,
    .mat-form-field-outline {
        color: rgba($text-black, 0.2);
    }
}

::ng-deep .mat-form-field:hover {
    .mat-form-field-appearance-outline,
    .mat-form-field-outline {
        color: $primary;
    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-input-element {
        color: $text-black;
    }

    .mat-form-field-label {
        color: $primary;
    }

    .mat-form-field-appearance-outline,
    .mat-form-field-outline {
        color: $primary;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: $error-color;
    }

    .mat-form-field-label {
        color: $error-color;
    }

    .mat-form-field-appearance-outline,
    .mat-form-field-outline {
        color: green;
    }
}
