<section class="login-section">
    <div class="login-container">
        <div class="body-wrapper">
            <h2>Title</h2>

            <form class="form" [formGroup]="form" (ngSubmit)="signIn()" autocomplete="off">
                <div class="form-group">
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="test@example.com" formControlName="email"
                               (blur)="checkChange('email')">
                        <mat-error *ngIf="errorHandling('email', 'required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="errorHandling('email', 'email')">
                            Not a valid email (ex. test@gmail.com)
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="" formControlName="password"
                               (blur)="checkChange('password')">
                        <mat-error *ngIf="errorHandling('password', 'required')">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="errorHandling('password', 'minlength')">
                            Password cannot be less than 6 characters
                        </mat-error>
                    </mat-form-field>
                </div>

                <a routerLink="/auth/reset-password">Forgot your password?</a>

                <button class="flat-primary-btn" mat-flat-button color="primary" type="submit">
                    Sign In
                </button>

                <div class="form-errors">{{errorWithSignIn}}</div>
            </form>

            <div class="controls">
                <button class="stroked-primary-btn create-button" routerLink="/auth/registration"
                        mat-stroked-button color="primary" type="submit">
                    Create new account
                </button>

                <button class="stroked-primary-btn google-button" type="submit"
                        mat-stroked-button color="primary" (click)="getGoogleLink()">
                    <img width="28" height="28" src="assets/images/logo/google.svg" alt="google sign in"/>
                    Sign In with Google
                </button>

                <button class="stroked-primary-btn facebook-button" type="submit"
                        mat-stroked-button color="primary" (click)="getFacebookLink()">
                    <img width="26" height="26" src="assets/images/logo/facebook.svg" alt="facebook sign in"/>
                    Sign In with Facebook
                </button>
            </div>
        </div>
    </div>

    <img width="300" height="300" class="image-one" src="assets/images/background/auth_bg_1.svg" alt="abstract image"/>
    <img width="300" height="300" class="image-two" src="assets/images/background/auth_bg_2.svg" alt="abstract image"/>
</section>


