@import "src/styles/main";

.account-verification {
    width: 100%;
    height: 100%;
    position: relative;

    .before-confirm-container,
    .after-confirm-container {
        max-width: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        .account-message {
            margin: 20px 0 0;
            @include setFont(opensans-regular, 400, 20px, 32px, $text-black);

            b {
                @include setFont(opensans-bold, 700, 18px, 28px, $text-black);
            }
        }
    }
}
