@import "src/styles/main";

.account-verification {
    min-height: 100%;

    @include backgroundGradient;
    @include flexCol;
    justify-content: center;

    position: relative;

    .before-confirm-container,
    .after-confirm-container {
        max-width: 50%;
        position: relative;
        z-index: 10;

        .account-message {
            margin: 20px 0 0;
            @include setFont(opensans-regular, 400, 20px, 32px, $text-black);

            b {
                @include setFont(opensans-bold, 700, 18px, 28px, $text-black);
            }
        }
    }

    .image-one {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    .image-two {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}
