@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin setFont($fontFamily, $fontWeight, $fontSize, $lineHeight, $color) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin backgroundGradient {
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(#F9FAFC, 1) 50%, rgba(#32bdbd, 1) 100%);
}
